# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
.env

# Données — ne jamais publier les données brutes volumineuses
data/raw/
data/processed/

# Power BI
*.pbix

# Système
.DS_Store
Thumbs.db

# VS Code
.vscode/

# document analyse confidentielle
outputs/TPG_confidentiel.md

