# R
.Rhistory
.RData
.Rproj.user/
#*.Rproj

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
.env

# Données — ne jamais publier les données brutes volumineuses
data/raw/
data/processed/

# Power BI
*.pbix

# Système
.DS_Store
Thumbs.db

# VS Code
.vscode/

# analyse confidentielle, non publiee
outputs/note_confidentielle.md

#outputs en général (bcp de fichiers inutiles)
outputs/

# Documents de travail internes, ne jamais publier
_interne/
R/old_code_AVRIL/
figures/old_figures/
logs/
Rplots.pdf
README_clean.md
figures/*_files/
.RDataTmp
